<!doctype html>
<html lang="es" data-ng-app="RocolaYouTubeApp">
  <head>
    <meta charset="utf-8">
    <title>Rockola de YouTube - Interfaz Web de YouTube</title>
    <meta name="author" content="J. Thomas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body data-ng-controller="VideosController">
    <header>
      <h1>Rockola de <strong>YouTube</strong></h1>
      <form id="search" data-ng-submit="search()">
        <input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query">
        <input id="submit" type="image" src="search.png" alt="Search">
      </form>
      <nav>
        <a id="play" data-ng-click="togglePlay()">{{ youtube.state }}</a>
        <a id="pause" data-ng-click="pause()">Pause</a>
        <a id="next" data-ng-click="nextVideo()">Next</a>

      </nav>
    </header>
    
    <div id="main-container">
      <!-- YouTube Player Container -->
      <div id="youtube-container">
        <div id="youtube-player"></div>
        <div id="search-results" data-ng-show="searchResults && searchResults.length > 0">
          <h3>Search Results</h3>
          <div class="search-result" data-ng-repeat="video in searchResults" data-ng-click="selectSearchResult(video)">
            <img class="search-thumbnail" data-ng-src="{{ video.thumbnail }}" alt="{{ video.title }}">
            <div class="search-info">
              <p class="search-title">{{ video.title }}</p>
              <p class="search-author">{{ video.author }}</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Control Panel -->
      <div id="control-panel">
        <div id="current-video-info">
          <h3>Now Playing</h3>
          <p id="current">{{ youtube.videoTitle || 'No video playing' }}</p>
        </div>
        
        <div id="playlist">
          <h3>Lista de Reproducción</h3>
          <ol id="upcoming">
            <li data-ng-repeat="video in upcoming">
              <span class="item-number">{{$index + 1}}</span>
              <p class="item-title" data-ng-class="$index == 0 ? 'next-to-play' : ''">
                {{video.title}}
              </p>
              <p class="item-delete" data-ng-click="delete('upcoming', video.id)">delete</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    
    <footer>
      <em>Concept &amp; Design original: <a href="https://jgthms.com">J. Thomas</a></em><br>
      Basado en <a href="https://github.com/jgthms/juketube">JukeTube</a>, modificado por <strong><a target="_blank" rel="noopener" href="https://github.com/DavidValenciaX">David Valencia</a></strong>.<br>
      Código fuente disponible en <a href="https://github.com/DavidValenciaX/rockola-youtube">GitHub</a>.
    </footer>
    
    <script src="angular.min.js"></script>
    <script src="angular-local-storage.js"></script>
    <script src="config.js"></script>
    <script src="app.js"></script>
  </body>
</html>
